services:
  backend_connector:
    build: backend-connector
    ports:
      - "1984:1984"
    command:
      "pdm run start"
  retriever:
    build: rag
    ports:
      - "5000:5000"
    depends_on:
      - qdrant
    command:
      "pdm run start"
  qdrant:
    image: qdrant/qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./qdrant_storage:/qdrant/storage
  db:
    image: postgres:16
    env_file:
      - backend/.env
    volumes:
      - pg_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  minio:
    image: minio/minio:latest
    command: server /data --console-address ":9001"
    env_file:
      - backend/.env
    volumes:
      - minio_data:/data
    ports:
      - "9000:9000"
      - "9001:9001"

volumes:
  pg_data:
  minio_data:
